<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" version="6.0">
  <display-name>LankaTrust Banking</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
    <cookie-config><http-only>true</http-only></cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
</web-app>
